.container-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-box{
    width: 100%;
    height: 50px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.main-box{
    width:100%;
    height: 200px;
    background-color: brown;
    display: flex;
    flex-direction: row;
}

.main-left-box{
    width: 50%;
    background-color: red;
}

.main-right-box{
    width: 50%;
    background-color: green;
}

.main-right-up-box{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

.main-card{
    width: 50%;

}

.main-right-down-box{
    width: 100%;
    height: 20%;
    background-color: yellow;
}