.container-box{
    display: flex;
    flex-direction: column;
}
.container-up{
    display: flex;
    flex-direction: row;
}

.clear{
    width: 200px;
    height: 100px;
    background-color: blue;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
}
.card-name{
    width: 100px;
    height: 50px;
    border-radius: 12px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px; 
}